body{
  background-color: #fff;
  font-family: cursive;
}
* {
  font-family: cursive;
  box-sizing: border-box;
}
h2, h4 {
  margin:0;
 
}

.container {
  margin: auto;
  min-height: 100vh;
  max-width: 760px;
}
.App {
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}
.board--block {
  background: #ddd;
  padding: 10px;
}